.ant-form {
  max-width: 80%;

  @media (max-width: 700px) {
    padding: 4rem;
    max-width: 100%;
    text-align: center;
  }
}

.ant-form-item {
  font-weight: 400;
  text-transform: uppercase;
}

.ant-form-item-label label {
  margin: 0 !important;
  font-size: 1rem !important;
}
.ant-input {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: $color-gray;
  border: none;
}

.ant-btn-primary {
  @include btn-primary;
  padding: 0.5rem 6rem;
  span {
    height: auto !important;
    font-size: 1.6rem;
    color: $color-white !important;
    padding: 0 2rem;
  }

  &:hover {
    background-color: $color-primary-darker !important;
  }
  &:hover span {
    color: $color-white !important;
  }
}
