.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.3s ease-in-out;
  background-color: inherit;
  padding-top: 1rem;
  @include flex-center-center;
  justify-content: space-around;

  @media (max-width: 850px) {
    padding: 2rem 0;
  }
}

.scrolled {
  background-color: black;
}

.ant-anchor {
  transition: all 0.4s;
  gap: 6rem;

  @media (max-width: 1000px) {
    gap: 2rem;
  }

  &-wrapper {
    transition: all 0.4s;
    margin: 0 auto;

    @media (max-width: 850px) {
      display: none;
    }
  }

  &-link-title {
    color: $color-white !important;
    padding: 1.3rem 0;
    font-weight: 500;
    @media (max-width: 850px) {
      color: black !important;
      font-size: 2.6rem;
    }
  }
}

.ant-anchor-link-active .ant-anchor-link-title,
.ant-anchor-link-active .ant-anchor-link-title::before {
  color: $color-primary !important;
}

.ant-anchor-ink,
.ant-anchor-ink-visible {
  background-color: $color-primary !important;
}

.logo {
  width: 12rem;
  filter: brightness(0) invert(1);
}

.lang-img {
  width: 20px;
  height: 20px;
}

.lang-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.lang-select {
  span {
    color: black;
  }
}

.side-nav-icon {
  font-size: 3rem;
  color: white;
  display: none;
  z-index: 200;

  @media (max-width: 850px) {
    display: block;
  }
}

.side-nav {
  display: none;

  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;

  background-color: $color-white;
  padding-top: 20%;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 22;
}

.hidden {
  right: -100%;
}

.close-icon {
  color: black;
}
