.services {
  text-align: center;

  @media (max-width: 600px) {
    padding: 7rem 5rem;
  }

  .cards-container {
    margin: 0 auto;
    display: flex;
    gap: 6rem;
    justify-content: center;

    @media (max-width: 1250px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      column-gap: 0;
      row-gap: 4rem;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
}
